# Data Science Tools and Ecosystem

In this notebook, Data Science tools are summarized.

__Objectives__ :

- List of popular languages
- List of libraries
- Evalute arithmetic expression

Some of the popular languages used by Data Scientists are :

    1. Python
    2. Java
    3. Scala

Some of the commonly used libraries used by Data Scientists include :
    
    1. Matplotlib
    2. Pandas
    3. NumPy
    4. Scikit-learn

| Data Science Tools |
|--------------------|
| MangoDB |
| Apache Spark |
| Tensor Flow |
| NumPy |

### Below are a few examples of evaluating arithmetic expressions in Python .

This  a simple arithmetic expression to multiply then add integers .

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
(200/60)

3.3333333333333335

## Author

Abinash Panda